# Virtual environments
.venv/
venv/

# PyInstaller build folders
build/
dist/

# PyInstaller spec file
*.spec

# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# IDE/project files (optional but recommended)
.idea/
.vscode/

# Logs and temporary
*.log
